[Unit]
Description=netflix-proxy admin service
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{CWD}}/auth
ExecStart=/usr/bin/python ./auth.py 43867

[Install]
WantedBy=multi-user.target
