#
# cron.d/netflix-proxy -- schedules periodic updates for DDNs IPs for the netflix proxy
#
# Copyright © Patrice Brend'amour <patrice@brendamour.net>
# distributed under the terms of the Artistic Licence 2.0
#

*/5 * * * * root {{CWD}}/scripts/ddns_updater.sh
