[Unit]
Description=dnsmasq container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a dnsmasq
ExecStop=/usr/bin/docker stop -t 2 dnsmasq

[Install]
WantedBy=multi-user.target
