[Unit]
Description=sniproxy container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a sniproxy
ExecStop=/usr/bin/docker stop -t 2 sniproxy
ExecStartPost={{BUILD_ROOT}}/scripts/proxy-add-ndp.sh -a
ExecStopPost={{BUILD_ROOT}}/scripts/proxy-add-ndp.sh -d

[Install]
WantedBy=multi-user.target
