[Unit]
Description=NDP proxy helper service
Requires=docker-sniproxy.service
After=docker-sniproxy.service

[Service]
Restart=always
ExecStart={{BUILD_ROOT}}/scripts/proxy-add-ndp.sh -a

[Install]
WantedBy=multi-user.target
