[Unit]
Description=NDP proxy helper service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart={{BUILD_ROOT}}/scripts/proxy-add-ndp.sh -a
ExecStop={{BUILD_ROOT}}/scripts/proxy-add-ndp.sh -d

[Install]
WantedBy=multi-user.target
