$def with (content)
$var title = content.title
$var url = content.redirect_url
<script type="text/javascript">window.setTimeout(function(){window.location.href="$content.redirect_url";},15000);</script>
<div>Don't forget to flush your system DNS cache and restart your browser(s):</div>
<p>
<ul style="list-style-type:none">
  <li><a href="https://support.apple.com/en-gb/HT202516">OS X</a></li>
  <li><a href="https://technet.microsoft.com/en-gb/library/cc781949(v=ws.10).aspx">Windows</a></li>
  <li>Linux (not required)</li>
</ul>
</p>
<div>Redirecting in 15 seconds, if you are not redirected automatically, go <a href="$content.redirect_url">here</a>.</div>
